.button {
    width: 145px;
    height: 32px;
    background-color: $main-color;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    &_promo {
        margin-top: 65px;
        width: 300px;
        height: 50px;
        font-size: 16px;
        line-height: 25px;
    }
    &_consult {
        width: 303px;
        height: 58px;
        font-size: 16px;
        line-height: 25px;
    }
}